    :root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
  
    color: var(--text-color);
    background-color: var(--background-color);
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  
    --text-color: rgba(66, 40, 40, 0.87);
    --background-color: #fff8f8;
    --border-input: 5px;
  
    --font-large: 2.125rem;
    --font-medium: 1.2rem;
  }
  
  #root {
    margin: 0 auto;
    max-width: 1280px;
  }
  
  h1 {
    font-size: --font-large;
    font-weight: bold;
    line-height: 1;
  }
  
  .errorinput {
    font-size: small;
    color: lightcoral;
  }
  button {
    padding: 10px 40px;
    border-radius: 4px;
    cursor: pointer;
  }
  .app {
    margin: 0 2rem;
  }
  .d-flex {
    display: flex;
  }
  .flex-col {
    flex-direction: column;
  }
  .flex-center {
    justify-content: center;
  }
  .items-center {
    align-items: center;
  }
  .mt-2 {
    margin-top: 2rem;
  }
  .gap-2 {
    gap: 2rem;
  }
  
  .line {
    height: 2px;
    background-color: wheat;
    margin: 2rem auto 0 auto;
    width: 10%;
  }
  
  form {
    max-width: 680px;
    margin: 0 auto;
  }
  
  label {
    width: 30%;
  }
  
  .input-field {
    width: 70%;
  }
  
  .input {
    outline: none;
    border-radius: 4px;
    padding: 5px 5px;
    color: black;
    font-size: medium;
  }
  
  .input:focus {
    background-color: antiquewhite;
    border: 2px solid lightskyblue;
  }
  
  .btn {
    margin: 0 auto;
    font-size: medium;
  }
  
  .btn:hover {
    background-color: antiquewhite;
    border: 2px solid lightskyblue;
    transform: scale(1.01);
  }

  h2 {
    display: flex;
    justify-content: center;
  }

  .gameId {
    opacity: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: space-evenly;
  }

  .gameAlign {
    display: flex;
    justify-content: space-around;
    align-items: space-around;
    
  }

  h1 {
    display: flex; 
    justify-content: center;
  }

  .gamePhoto {
    display: flex;
    justify-content: center;
    width: auto;
    height: auto;
  }

  .gamePrice {
    display: flex;
    justify-content: center;
  }

  .gameA {
    display: grid;
    justify-content: space-around;
    padding: 20px;
    max-width: calc(100% - 40px);
    box-shadow: 0px 7px 7px rgba(0,0,0,0.1);
    overflow-x: auto;
  }

  .buyButton{
    display: flex;
    justify-content: center;
  }

  .gameDescription{
    box-shadow: 7px 7px 7px rgba(0,0,0,0.1);
    margin: 1cm;
  }
